html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: whitesmoke;
}

.m0 {
  margin: 0;
}

.my5 {
  margin: 50px auto;
}

.f16 {
  font-size: 16px;
}

nav {
  background-color: #ff010b78;
}

.loader{
  color: #742423;
  font-size: 22px;
  text-align: center;
  display: none;
}

.navbar-size {
  width: 95%;
  margin: 0 auto;
}

.heading {
  font-weight: bold;
  color: whitesmoke;
}

.upper{
  text-transform: uppercase;
}

.bottom-line {
  border-bottom: 2px solid #ff010b78;
  padding-bottom: 6px;
  width: fit-content;
}

.card {
  background-color: #780a09;
  color: whitesmoke;
}

.card .title-text {
  font-weight: bold;
  color: #780a09;
}

.card .card-reveal,
.bg-modal {
  background-color: rgb(37 35 35 / 90%);
}

.user-image-size {
  height: 56px;
  margin: 4px 0;
}

.welcome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
}

.image-body {
  height: 400px;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.main-image:hover {
  transform: scale(1.07);
  cursor: zoom-in;
}

.card.medium .card-image {
  max-height: 75%;
}

.card .card-image img {
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.dropdown-content li > a,
.dropdown-content li > span,
.select-wrapper input.select-dropdown {
  background-color: rgb(37 35 35 / 90%);
  color: whitesmoke;
}

.materialboxed-image {
  margin: 0 auto;
  height: 400px;
}
.click-me-button {
  background-color: #780a09;
  /* margin-top: 50px; */
}
.click-me-button:hover {
  background-color: #7f332e;
  /* margin-top: 50px; */
}


.image-tip-container {
    background-color: #742423;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  
  .image-tip {
    margin: 0;
    font-size: 0.8rem;
  }
  